body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30vw;
  height: 30vw;
  align-content: center;
}

.container {
    display: flex;
    align-items: center;
}

.text-container {
    margin: auto;
    align-items: center;
}

.forecast{
  padding-right: 2vw;
  width: 5vw;
  height: 5vw;
}
